.heatmap-dashboard{
    height: 100%;
    width: 100%;
    min-height: 800px;
    background-color: white;
    position: relative;
}

.landing-page{
    height: 100%;
    width: 100%;
    min-height: 1000px;
    background-color: white;
    position: relative;
}

.nav-logo{
    font-size: 150%;
    color: white;
}


.row{
    height: 1000px;
    width: 100%;
}

.left{
    width: 75%;
}

.right{
    width: 25%;
    max-height: 800px;
}

.map-header{
    margin-left: 10%;
    margin-top: 20px;
}

.map-container{
    margin-top: 20px;
    margin-left: 10%;
    height: 800px;
}

.graph-container{
    margin-left: 10%;
    margin-top: 25px;
    width: 1000px;
    height: 800px; 
}



.rs-container {
    width: 90%;
    height: 1000px;
    /* background: aqua; */
    margin: auto;
    padding: 10px;
  }
  
  .rs-sidebar {
    width: 20%;
    height: 100%;
    margin-top: 20px;
    background: lightblue;
    float: left;
  }
  
  .rs-content {
    margin-top: 20px;
    margin-left: 20%;
    height: 100%;
  }

  .rs-row{
    height: 300px;
    width: 100%;
    margin-bottom: 5%;
    padding-left: 20px;
    padding-right: 20px;
}


.form-group{
    width: 100px;
}

label{
    align-text: center !important;
}


.content-container{
    margin-left: 5%; 
    margin-right: 5%; 
}

.content-panel{
    margin-top: 10px;
    height: 50px;  
    background-color: white; 
}