.container{
    padding-top: 10px;
    width: 1000px;
    height: 1000px;
}


.rs-container {
    width: 90%;
    height: 1000px;
    /* background: aqua; */
    margin: auto;
    padding: 10px;
  }
  
  .rs-sidebar {
    width: 20%;
    height: 100%;
    background-color: white;
    float: left;
  }
  
  .rs-content {
    margin-left: 22%;
    height: 100%;
  }

  .rs-row{
    padding-top:5px;
    /* border-style: solid;
    border-width: 1px; */
    background-color: white;
    height: 400px;
  }



.scroll-row {
    border: 1px black;
    width: 100%;
    height: 80%;
    overflow: auto;
    white-space: nowrap;
}
  
.scroll-card {
    width: 220px;
    height: 100%;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.scroll-card-rating{
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    height: 20%; 
}

.scroll-card-img{
    position: absolute;
    top: 15%;
    height: 60%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.scroll-card-title{
    position: absolute; 
    top: 0; 
    width: 100%; 
    height: 12%; 
    padding-top: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}


.rs-card{
    align-items: center;
    height: 100%;
    border: 0px;
    border-color: white;
}

.card-title{
    padding-top:5px;
}

.filter-row{
    text-align: left;
    /* font-weight: bold; */
}

.filter-button{
    align-items: left;
}

.modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
    }
.modal-backdrop.fade.in {
opacity: 0.5;
filter: alpha(opacity=50);
}